.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local
front-end/.env
back-end/.env.local
back-end/.env.local.php
back-end/.env.*.local
back-end/.env
back-end/.env.dev

back-end/config/secrets/prod/prod.decrypt.private.php
back-end/public/bundles/
back-end/var/
back-end/vendor/
vendor/
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
